<%- include ('../../partials/header.ejs') %> 

<%- include ('../../partials/navbar.ejs') %> 

<div class="container container-top">

    <div class="card">
        <div class="card-header">
            <h5>Cadastro de categoria</h5>
        </div>
        <div class="card-body">
            <form action="/categories/save" method="post">
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input id="titulo" class="form-control" type="text" name="title" placeholder="Título do artigo">
                </div>
        </div>
        <div class="card-footer">
                <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-save"></i> Cadastrar</button>
                <a href="/admin/categories" class="btn btn-secondary btn-sm float-right"><i class="fas fa-undo-alt"></i> Retornar</a>
            </form>
        </div>
    </div>

</div>

<%- include ('../../partials/footer.ejs') %> 